<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Regular.ttf</string>
		<string>Fraunces-Italic.ttf</string>
		<string>Fraunces-Medium.ttf</string>
		<string>Fraunces-MediumItalic.ttf</string>
		<string>Fraunces-SemiBold.ttf</string>
		<string>Fraunces-Bold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Kubb Coach needs camera access to photograph inkasted kubbs for analysis and training feedback.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Kubb Coach needs photo library access to select existing photos of inkasted kubbs for analysis.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Get reminders to maintain your training streak and stay motivated</string>
	<key>SupportEmail</key>
	<string>sathomps@gmail.com</string>
	<key>SupportEmailSubject</key>
	<string>Kubb Coach Support</string>
</dict>
</plist>
