<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Kubb Coach needs camera access to photograph inkasted kubbs for analysis and training feedback.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Kubb Coach needs photo library access to select existing photos of inkasted kubbs for analysis.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Get reminders to maintain your training streak and stay motivated</string>
	<key>SupportEmail</key>
	<string>sathomps@gmail.com</string>
	<key>SupportEmailSubject</key>
	<string>Kubb Coach Support</string>
</dict>
</plist>
